body {
	background-color: #666;
}
.one {
	background-color: #ffd1dc;
}

.two {
	background-color: #d1fff4;
}

.three {
	background-color: #d1ffdd;
}

.four {
	background-color: #ddd1ff;
}

.five {
	background-color: #fff4d1;
}

.six {
	background-color: #ffddd1;
}
